<%= provide :titulo, "Index" %>
<div class =" center jumbotron ">
    <h1>Microblog</h1>
    <p>
        Esta e a pagina index da aplicacao Blog desenvolvida durante o laboratorio de engenharia de softwawe
    </p>
    <%= link_to " Posts ", posts_path , class : "btn btn -lg btn - primary " %>
</div>