<%= provide :titulo, "Index" %>
<div>
    <h1>Blog App</h1>
    <p>
        Esta e a pagina index da aplicacao Blog desenvolvida durante o laboratorio de engenharia de softwawe
    </p>
    <%= link_to "Posts", posts_path %>
</div>